h2 {
    margin: 10px;
}

.nav-logo {
    height: 40px;
    width: 40px;
}

#headshot {
    float: left;
    height: 300px;
    width: 200px;
    padding: 5px;
    background-color: white;
    margin: 10px;
}

#nav-left {
    float: left;
    font-size: 30px;
    position: absolute;
    top: -10px;
}

#about-me {
    margin: 10px;
    background-color: darkgray;
    overflow: auto;
}

.card-button {
    height: 25px;
    width: 25px;
    align-content: center;
}

#portfolio {
    margin: 10px;
    background-color: darkgray;
    overflow: auto;
}

#contact {
    margin: 10px;
    background-color: darkgray;
    overflow: auto;
}

.contrast-font {
    background-color: gray;
    opacity: 80%;
}

#port-carousel {
    margin-top: -200px;
    height: 700px;
    margin-bottom: 50px;
}

.contact-icon {
    height: 50px;
    width: 50px;
}

.email:hover {
    background-color: yellow;
}